
/* Solution 1: set percentages to equal 100 */ 

body {
  padding: 30px;
}
header {
  background: lightblue;
}
section {
  background: lightgreen;
  width: 75%; 
  float: left;
}
article {
  background: white;
  margin: 0 0 1rem 0;
}
aside {
  background: pink;
  width: 25%;
  float: right;
}
header, article, section, .module {
  padding: 1rem;
} 


/*Solution 2: use display block and hide overflow, kill percentages */ 

body {
  padding: 30px;
}
header {
  background: lightblue;
}
section {
  background: lightgreen;
  float: left;
}
article {
  background: white;
  margin: 0 0 1rem 0;
}

aside {
  background: pink;
  display:block;
  float: right;
  padding:1em;
  overflow:hidden;
  
}

header, article, section, .module {
  padding: 1rem;

}


/* Solution 2: add containers to the html and used relative and fixed positioning */ 

/*HTML */ 
<main>
<header>
<h1>Site</h1>
</header>
<div id="wrapper">
<div class="float left">
   <section>
      <article>
        <h2>Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo molestias ex officia eligendi reiciendis fuga magnam? Ullam ut ab doloremque accusamus iusto aliquam facilis sapiente!</p>
      </article>
      <article>
        <h2>Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo molestias ex officia eligendi reiciendis fuga magnam? Ullam ut ab doloremque accusamus iusto aliquam facilis sapiente!</p>
      </article>
    </section>
</div>
<div class="float right">
   <aside>
      <div class="module">
        <h3>Module</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio rem ab delectus fugit repellendus perspiciatis dolor consequuntur tenetur voluptatem a vitae odit aspernatur? Voluptas quisquam corporis nostrum aspernatur aliquid harum saepe ab pariatur veniam iste ipsam alias nemo voluptatibus doloribus.</p>
      </div>
  </aside>
</div>
</div>

/* END HTML */  

/* CSS */  

body {
  padding: 30px;
}
header {
  background: lightblue;
}


#wrapper {
   width:100%
   height:300px; 
   position:relative;
}

.float {
   background-color:pink; 
   margin:0; 
}

.left {
   background:lightgreen; 
   position:fixed; 
   width:70%;
}

.right {
   float:right; 
   width:30%; 
}

article {
  background: white;
  margin: 0 0 1rem 0;
}

header, article, section, .module {
  padding: 1rem;
}

.module {
  margin-left:3rem;
}

/* CSS */  



