
@font-face {
  font-family: 'overpass';
  src: url('fonts/overpass/overpass-regular.ttf') format('ttf'),  
}


body {
    background: linear-gradient(to right, #bbb, #ededed);
}

/* headings and fonts */ 

p, h1, h2, h3 {
    font-family:overpass;
}


.panel-nav {
    font-size:12px;
}

.panel-heading {
    font-size:22px;
}

.panel-copy {
    font-size:14px;

}


.active-button {
    background-color: #4CAF50;
    margin-top:10px;
    font-family: overpass;
}


.content-data {
    width:100%;
}

.content-title {
    width:100%;

}



.panel-container {
    display:block;
    margin:auto;
    margin-top:15%;
    max-width:80%;
    background:white;
    min-height:400px;


}



.horizontal-menu  {
    font-family:overpass;
    background: linear-gradient(#c00, #470000);
}


.horizontal-menu a {
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.horizontal-menu a:hover {
    background: linear-gradient(red, black, red);
}

.horizontal-menu a.active {
    background: linear-gradient(red, black, red);
}





@media only screen and (min-width: 728px) {


.panel-container {
    max-width:50%;
}


.horizontal-menu  {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background: linear-gradient(#c00, #470000); */ 
}

.horizontal-menu a {
    float: left;
    display:inline-block;
    border-left:1px solid #bbb;
}

.horizontal-menu .right-align{
    float: right;
}



.horizontal-menu a:first-child {
    float:left;
}


.horizontal-menu a  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-menu a:hover {
        background: linear-gradient(red, black, red);
    
    }


.content-data {
    height: 30px;
    max-width: 60%;
    display: block;
    float: right;
}

.content-title {
    height: 30px;
    max-width: 40%;
    display: inline;
    float: left;
}




}




